<div class="fixed bottom-6 left-6 z-9999 flex flex-col space-y-3">
  <div
    *ngFor="let t of toastService.toasts$ | async"
    [ngClass]="{
      'bg-green-600': t.type === 'success',
      'bg-red-600': t.type === 'error',
      'bg-blue-600': t.type === 'info'
    }"
    class="
      min-w-[260px]
      max-w-[340px]
      px-4 py-3
      rounded-xl
      flex items-start gap-3
      text-white font-medium
      border
      shadow-lg shadow-black/20
      backdrop-blur-md
      animate-slide-in
    "
  >
    <div class="text-lg leading-none pt-0.5">
      <span *ngIf="t.type === 'success'">✔️</span>
      <span *ngIf="t.type === 'error'">❌</span>
      <span *ngIf="t.type === 'info'">ℹ️</span>
    </div>

    <div>{{ t.message }}</div>
  </div>
</div>
